<br/>
 <div id="conteudo">
   
<%= button_to_remote('Voltar', :url => { :action => "gen_user", :controller =>'home'}) %>
<br/>
<br/>
<div class="relatorios">
<table border="1" frame="box" rules="all" align="center">
  <tr>
    <td colspan="14" align="center"><h1>Listagem Usuários Cadastrados</h1></td>
  </tr>
  <tr>
    <th align="center">LOGIN</th>
  </tr>
  <% form_tag associar_users_path  do -%>
    <%= collection_select :user, :user_id, @users, :id, :login, :include_blank => ' -- Selecione -- ' %>
    <%= submit_tag "Buscar", :name => nil %>
  <% end -%>

</table>

<%= link_to_remote('Voltar', :url => { :action => "gen_user", :controller =>'home'}, :class =>'botao3d') %>
</div>


</div>



