          <tr><th colspan="4" class="alinhamento_central">FICHA DE INSCRIÇÃO PARA EVENTUAL</th></tr>
          <tr><th colspan="4" class="alinhamento_direito"><%= "INSCRIÇÃO Nº: #{@inscricao.id}     DATA: #{@inscricao.created_at.strftime("%d/%m/%Y")}" %></th></tr>
          <tr><th colspan="4">DADOS PESSOAIS</th></tr>
          <tr>
            <th class="alinhamento_justificado">NOME:</th>
            <td colspan="3"><%=h @inscricao.nome %></td>
          </tr>
          <tr>
            <th class="alinhamento_justificado">DATA DE NASCIMENTO:</th>
            <td colspan="3"><%=h @inscricao.dt_nasc.strftime("%d/%m/%Y") %></td>
          </tr>
        <%= render "/shared/form_privacy" %>
