   <table width="100%">
    <tr>
      <td align="left">
        <h2> CONSULTA INSCRIÇÃO</h2>
      </td>
    </tr>
    <tr>
      <% form_tag buscar_path, :method => 'get' do -%>
        <td align="right">
          Inscrição Nº:
          <%= text_field_tag :search, params[:search], :placeholder=>"Nº de inscrição" %>
        </td>
        <td align="left"><%= submit_tag "Buscar" %></td>
      <% end -%>
    </tr>
   </table>
   <table>
    <% if @inscricao.present? %>
      <%= render "inscricao" %>
    <%else%>
     <h1>Efetue a busca com o numero de inscrição gerado.</h1>
     <%= link_to "Voltar", buscar_path %>
    <%end%>
   </table>
