<table>
  <tr>
    <th align="center" colspan="2"><h1>Efetue sua inscrição clicando abaixo</h1></th>
  </tr>
  <tr>
    <td align="center"><%= link_to "Inscrição", new_formulario_path, :class => 'button' %></td>
    <td align="center"><%= link_to "Consultar inscrição", buscar_path, :class => "button"  %></td>
  </tr>

</table>