<table>
  <tr>
    <td><%= "Download do gabarito da prova, #{link_to "Clique aqui", gabarito_path}" %></td>
  </tr>
  <tr>
    <td colspan="2">Este site funciona apenas nos navegadores "MOZILLA FIREFOX" OU "GOOGLE CHROME". </td>
  </tr>

</table>

