<table>
  <tr>
    <td align="center"><%= link_to "Consultar inscrição", buscar_path, :class => "button"  %></td>
  </tr>
  <tr>
    <td><%= "Download do gabarito da prova, #{link_to "Clique aqui", gabarito_path}" %></td>
  </tr>
  <tr>
    <td colspan="2">Este site funciona apenas nos navegadores "MOZILLA FIREFOX" OU "GOOGLE CHROME". Os d$
  </tr>

</table>

