<table>
  <tr>
    <th align="center"><h1>Efetue sua inscrição clicando abaixo</h1></th>
  </tr>
  <tr>
    <td align="center"><%= link_to "Inscrição", new_formulario_path,:id => "inscreva-se", :class => 'button' %></td>
  </tr>
</table>