<table>
  <tr>
    <td colspan="2"><h1>Recursos Humanos</h1><h2>Secretaria de Educação de Americana</h2></td>
  </tr>
  <tr>
    <td colspan="2"><b>Contato:</b></td>
  </tr>
  <tr>
    <td>Endereço:</td>
    <td>Rua das Imbuias, 230 - Jd. São Paulo / Americana-SP</td>
  </tr>
  <tr>
    <td>Telefone:</td>
    <td>(19) 34759700 - RAMAL: 9403</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>rh.seduc@americana.sp.gov.br</td>
  </tr>
  <tr id="voltar">
    <td colspan="2" align="right"><%= link_to "Voltar",root_path, :class => "button" %></td>
  </tr>
</table>
