<h1>Inscrição para professor eventual realizada com sucesso</h1>
<h3>Prefeitura Municipal de Americana - Secretaria de Educação</h3>

<p>Agradecemos sua inscrição</p>


Site: <a href="eventual.seducpma.com">Sistema IPE - Inscrição para Professores Eventuais</a>