<h1>Inscrição para professor eventual realizada com sucesso</h1>
<h3>Prefeitura Municipal de Americana - Secretaria de Educação</h3>

<p>Agradecemos sua inscrição</p>
<p><%= "INSCRIÇÃO Nº #{@formulario.id}" %></p>
<p><%= "NOME #{@formulario.nome}" %></p>
<p><%= "INSCRITO EM: #{@formulario.created_at.strftime("%d/%m/%Y")}" %></p>


Site: <a href="eventual.seducpma.com">Sistema IPE - Inscrição para Professores Eventuais</a>